@font-face {
  font-family: 'Louis George Cafe';
  src: url('fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis George Cafe Bold';
  src: url('fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TF Spermo';
  src: url('fonts/TF Spermo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0%;
    height: 100%;
}

/*background----------------------------------------------------------*/

.background {
  position: relative;
  background-color: #99b7f5;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Common blob styles */
.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(140px);
  transform: translate(-67%, -54%);
  z-index: 0;
}

/* Darker blue blobs */
.blob.dark {
  background:radial-gradient(circle,rgba(96, 127, 208,0.9) 100%, rgba(129, 158, 231, 0.6) 60%, transparent 100%) ; /* a rich dark blue */
  filter: blur(30px);
  z-index: 0;
}

/* White glow blobs */
.blob.light {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9) 4%, rgba(153, 172, 224, 0.6) 60%, transparent 100%);
  filter: blur(120px);
  z-index: 1;
}

/*background end------------------------------------------------------*/



/*Navigation Bar-----------------------------------------------------*/

.navigation, .intro{
    position:relative;
    z-index: 2;
}


.navigation {
    background-color: rgb(238,240,229, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    position:fixed;
    width:100%;
    box-shadow: 0px 4px 12px #6280d1;
    z-index: 2;
}

.links{
    display:flex;
    gap:20px;
    list-style-type: none;
    margin:0;
    padding: 0;
    position: relative;
}


.navigation a{
    text-decoration: none;
    color:rgba(238,240,229,255);
    font-family: 'Louis George Cafe Bold', sans-serif;
    font-size:x-large;
}
.navigation a:hover{
    color:#FCCA59;
}

.logo{
    height: 60%;
    border-radius: 50%;
}
/*navigation bar end----------------------------------------------------------*/



/*Intro----------------------------------------------------------------------*/

 
.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100vh;
    padding: 0 450px;
    box-sizing: border-box
}

.intro-text  {
    text-align: center;
    margin-right: 70px;
    position: relative;
    z-index: 2;
}

.intro-text h1{
font-size: 175px;
font-family: 'TF Spermo', Serif;
color: #FCCA59;
text-shadow: 7px 10px 7px #6280d1;
}

.intro-text h3 {
font-size: 50px;
font-family: 'Louis George Cafe', sans-serif;
white-space: nowrap;
color:rgba(238,240,229,255);
}

.pfp{
    height: 575px;
    max-width: auto;
    border-radius: 50%;
    margin-left: 80px;
}
/*intro end--------------------------------------------------------------*/

.carousel{
max-height: 120px;
border: 1px solid #ddd;
}





/* Adjusting to certain screens*/

/*
@media(max-width: 1000px){
    .intro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
    }

    .intro-text h1, .intro-text h3 {
        text-align: center;
        margin-bottom: 30px;;
    }

    .pfp{
    height: 200px;
    max-width: 100%;
        
    }
}
*/
