@font-face {
  font-family: 'Louis George Cafe';
  src: url('fonts/Louis George Cafe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Louis George Cafe Bold';
  src: url('fonts/Louis George Cafe Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TF Spermo';
  src: url('fonts/TF Spermo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;      
  scroll-behavior: smooth;  
  box-sizing: border-box;
  overflow-y: auto; 
  overflow-x: hidden;
}

/*background----------------------------------------------------------*/

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99b7f5;
  z-index: -1;
  overflow: hidden;
}


.blobs {
  position: absolute;
  width: 100%;
  height: 100%;
}


.blob {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: normal;
  filter: blur(40px);
  opacity: 1;
  pointer-events: none;
}


.blob.a {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(153, 183, 245, 0.8) 0%, rgba(255,255,255,1) 150%);
  top: -100px;
  left: -100px;
  animation: floatA 60s linear infinite;
}


.blob.b {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle, rgba(153, 183, 245, 0.8) 0%, rgba(255,255,255,1) 150%);
  top: 30%;
  right: -150px;
  animation: floatB 45s linear infinite;
}

.blob.c {
  width: 250px;
  height: 250px;
  background: radial-gradient(circle, rgba(153, 183, 245, 0.8) 0%, rgba(255,255,255,1) 150%);
  bottom: 10%;
  left: -10%;
  animation: floatC 30s linear infinite;
}

.blob.d {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(153, 183, 245, 0.8) 0%, rgba(255,255,255,1) 150%);
  bottom: 50%;
  right: 60%;
  animation: floatD 50s linear infinite;
}

.blob.e {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(153, 183, 245, 0.8) 0%, rgba(255,255,255,1) 150%);
  top: 45%;
  left: 35%;
  transform: translateX(-50%);
  animation: floatE 70s linear infinite;
}


@keyframes floatA {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(80vw, 10vh); }
  50%  { transform: translate(60vw, 70vh); }
  75%  { transform: translate(10vw, 80vh); }
  100% { transform: translate(0, 0); }
}

@keyframes floatB {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-50vw, 10vh); }
  50%  { transform: translate(-40vw, 60vh); }
  75%  { transform: translate(-10vw, 80vh); }
  100% { transform: translate(0, 0); }
}

@keyframes floatC {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(60vw, -10vh); }
  50%  { transform: translate(80vw, 40vh); }
  75%  { transform: translate(30vw, 80vh); }
  100% { transform: translate(0, 0); }
}

@keyframes floatD {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(-30vw, -15vh); }
  40%  { transform: translate(-60vw, 10vh); }
  60%  { transform: translate(-20vw, 60vh); }
  80%  { transform: translate(10vw, 40vh); }
  100% { transform: translate(0, 0); }
}

@keyframes floatE {
  0%   { transform: translate(0, 0); }
  20%  { transform: translate(20vw, -20vh); }
  40%  { transform: translate(70vw, -10vh); }
  60%  { transform: translate(40vw, 50vh); }
  80%  { transform: translate(0vw, 70vh); }
  100% { transform: translate(0, 0); }
}

/*background end------------------------------------------------------*/


/*Navigation Bar-----------------------------------------------------*/

.navigation, .intro{
    position:relative;
}


.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 75px;
  position:fixed;
  width:100%;
  z-index: 10;
  background-color: rgba(153, 183, 245, 0.5);
  filter: drop-shadow(5px 5px 7px #6280d1);
}

.links{
  display:flex;
  gap:25px;
  list-style-type: none;
  margin:0;
  padding-left: 145px;
  position: relative;
}


.navigation a{
  text-decoration: none;
  color:rgba(238,240,229,255);
  font-family: 'Louis George Cafe Bold', sans-serif;
  font-size:xx-large;
}

.navigation a:hover{
  color:#FCCA59;
}

.logo{
  height: 75%;
}

.contact-btn {
  position: relative;
  padding: 8px 16px;
  color: #EEF0E5;
  background: transparent;
  border: none;
  border-radius: 12px;
  box-shadow: inset 0 0 0 4px #EEF0E5;
  transition: color 0.25s ease;
  overflow: hidden;
  font-size:x-large !important;  
 
}

.contact-btn::before,
.contact-btn::after {
content: '';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid transparent;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
  border-radius: 12px;
}

.contact-btn::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.contact-btn::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.contact-btn:hover {
  color: #FCCA59;
}

.contact-btn:hover::before,
.contact-btn:hover::after {
  border-color: #FCCA59;
  width: 100%;
  height: 100%;
  transition: border-color 0s, width 0.25s, height 0.25s;
}

.contact-btn:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.contact-btn:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/*navigation bar end----------------------------------------------------------*/


/*HomePage----------------------------------------------------------------------*/

 
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100vh;
  padding: 0 5vw;
  box-sizing: border-box
}

.intro-text  {
  text-align: center;
  margin-right: 25px;
  position: relative;
  z-index: 2;
}

.name img{
font-size: 175px;
font-family: 'TF Spermo', Serif;
color: #FCCA59;
text-shadow: 7px 10px 7px #6280d1;
height:400px;
}

.intro-text h3 {
  padding-top: 20px;
  font-size: 50px;
  font-family: 'Louis George Cafe', sans-serif;
  color: rgba(238,240,229,255);
  text-wrap: balance;
}

.pfp{
  height: 400px;
  max-width: 100%;
  border-radius: 50%;
  padding-bottom: 25px;
}
/*HomePage end--------------------------------------------------------------*/

/*Projects Page Start---------------------------------------------------------*/

.pagetitle {
  font-family: 'Louis George Cafe Bold', sans-serif;
  color: #FCCA59;
  text-shadow: 5px 6px 7px #6280d1;
  text-align: center;
  font-size: 3.5em;
  padding-bottom: 25px;
}

.carousel-wrapper {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: -5px 0 30px;
  perspective: 2000px;
}

.carousel {
  display: flex;
  gap: 30px;                
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 20px 0 20px;
  cursor: grab;
  -ms-overflow-style: none; /*edge*/
  scrollbar-width: none; /*firefox*/
}

.carousel::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.card-wrapper {
  width: 90vw;
  max-width: 450px;
  flex-shrink: 0;
}

.carousel:active {
  cursor: grabbing;
  user-select: none;
}

.flip-card {
width: 100%;
  max-width: 450px;
  height: min(70vh, 600px);
  perspective: none;
  max-height: 80vh;
  filter: drop-shadow(5px 5px 10px #6280d1);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.flip-card-back {
  background-color: #6d8ad9;
  color:rgba(238,240,229,255);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.card-title {
  margin-top: 5px;
  font-size: 2em;
  color:rgba(238,240,229,255);
  text-align: center;
  font-family: 'Louis George Cafe Bold', sans-serif;
}

.description{
  font-size: 2em;
  margin:15px;
  text-align:left;
  font-family: 'Louis George Cafe', sans-serif;
  padding-top:15px;
}

.github-link {
  margin-top: auto;
  padding-bottom: 10px;       
  display: flex;
  justify-content: center;
}

.github-link img {
  width: 60px;
  height: auto;
  object-fit: contain;
  display: block;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}


/* Projects Page end--------------------------------------*/
/*About Me-----------------------------------------------*/
section{
  width: 100%;
  padding: 20px 5vw 10px;
  scroll-margin-top: 90px;
}

.aboutme-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 75px;
  margin-bottom:135px;
}


.sidebyside-wrapper{
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 4vw;
}

.aboutme-intro {
  font-family: 'Louis George Cafe Bold', sans-serif;
  color: #EEF0E5;
  height: auto;
  text-align: center;
  font-size: 3.0em;
  line-height: 80px;
  position: relative;
}

.intro-p{
  font-family: 'Louis George Cafe', sans-serif;
  color:#EEF0E5;
  background-color:#6d8ad9;
  padding: 35px 25px;
  border-radius: 12px;
  border:2px solid #FCCA59;
  text-align:center;
}

.currrently {
  text-align: center; 
  font-family: 'Louis George Cafe', sans-serif;
  color: #EEF0E5;
  background-color:#6d8ad9;
  padding:35px 25px;
  border-radius: 12px;
  border:2px solid #FCCA59;
}

.intro-p,
.currrently {
  font-size: 2.3em;
  max-width: 600px;
  width: 100%;
  flex: 1;
  height: auto;
}

.btn-current {
  font-family: 'Louis George Cafe Bold', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 30px;
  border: 4px solid #FCCA59;
  color: #FCCA59;
  text-decoration: none;
  cursor: pointer;
  transition: all .6s ease;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  text-align: center;
  border-radius:12px;
  margin-top:15px;
  
}

.btn-current:hover {
  background-color: #FCCA59;
  color: #6d8ad9;
}

/*about me end---------------------------------------------------*/

.socials {
  text-align: center;
  padding-top: 100px;
}

.socials h1 {
  font-size: 4.5em;;
  font-family: 'Louis George Cafe Bold', sans-serif;
  color: #FCCA59;
  text-shadow: 5px 6px 7px #6280d1;
  margin-bottom: 50px;
  line-height: 1.1;
}


.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  filter: drop-shadow(5px 5px 10px #5268a5);
}

.form-horizontal {
  max-width: 450px;
  font-family: 'Louis George Cafe', sans-serif;
  font-weight: 400;
}

.form-group {
  margin-bottom: 20px;
}

.form-control,
textarea {
  width: 100%;
  max-width: 100%;
  min-width: unset;
}

.send-button,
.alt-send-button {
  width: 100%;
}

.alt-send-button {
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover { /*change this*/
  transform: translate3d(0px, -5px, 0px);
}

.socials-links{
  margin-top: 80px;
  text-align: center;
}

.socials-links img {
  width: 70px;   
  height: 70px;
  margin-right:20px;
  filter: drop-shadow(2px 2px 10px #5268a5);
}

/* Adjusting to certain screens*/

@media (max-width: 900px) {
  .sidebyside-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .intro-p,
  .currrently {
    width: 100%;
    max-width: 600px;
  }
}
